<----Print Function: It is a type of function which is used to perform some kind of operation and specially is used to get desirable output----->

In [4]:
print("Hello World!!!")  ## Function always defines in parenthesis

Hello World!!!

<-- VARIABLE: variables are the types of containers which is uesed to stored data Or we can say variable defines the location of memory where our 
is stored---->

In [14]:
name="Kusum"
age=21
print("Your name is:",name,"and Your age is:",age)

Your name is: Kusum and Your age is: 21

<----INPUT FUNCTION: This function is used to take an input  from the user------>

In [3]:
name=input("What is your name?") 
print("hello "+ name)

What is your name? Kusum

hello Kusum

<----TYPE CONVERSION: we need type conversion because whenenver we input anything in python all the input comes out in the stringformat whether it was number,string,float,double anything--->

old_age=input("Enter your old age:")
new_age=old_age + 2
print(new_age)

so we can see an error is arries becacuse input function consider "old_age" as a string and string and integer can not be
concatenate with each other. Hence to avoid this problem we should need to use "type conversion method".Noe let's see correct code for the same

In [6]:
old_age=input("Enter your old age:")
new_age=int(old_age) + 2
print(new_age)

Enter your old age: 19

21

<---Now calculating  sum of two numbers----->

In [10]:
a=input("Enter first number: ")
b=input("Enter second number: ")
sum= int(a) + int(b)
print("Sum of",a,"and",b,"is :",sum)

Enter first number:  10
Enter second number:  20

Sum of 10 and 20 is : 30

<---Similary calculating sum if enter number is float--->

In [21]:
a=input("Enter first number: ")
b=input("Enter second number: ")
sum= float(a) + float(b)
print("Sum of",a,"and",b,"is :",sum)

Enter first number:  10.3
Enter second number:  10.3

Sum of 10.3 and 10.3 is : 20.6

<-----STRINGS AND ITS FUNCTION : Strings are the system of characters which is arranged in a systematic way within inverted commas and always 
get stored into a  define variable------->

In [28]:
# string upper,lower,title case function

name="Kusum Kumari"
print(name.upper())
print(name.lower())
print(name.title())

KUSUM KUMARI
kusum kumari
Kusum Kumari

In [30]:
#string find function, which is used to find the location or index number of any letter or substring in the string

print(name.find("K"))
print(name.find("s"))
print(name.find("Kumari"))

0
2
6

In [33]:
# String replace function

print(name.replace("Kumari","Yadav"))

Kusum Yadav

In [37]:
# String IN Function : Which is used to check that pariticular word or letter is exits in string or not and it will always gives result as true or false
print(name)
print("m" in name)
print("z" in name)
print("Kumari" in name)

Kusum Kumari
True
False
True

<----OPERATORS IN PYTHON:------->

In [46]:
# Arithmetic operators: +,-,*,/,%,**( these are represnts sum operator,subtract operation, multiplication operator,division operator ,modulus operator and power operator)

print("sum of 9 and 10 =",9 + 10)
print("subtraction of 10 and 9 =",10 - 9)
print("Multiplication of 10 and 9 =",10 * 9)
print("Division of 20 and 10 =",20 / 10)
print("Remainder of 20 and 10 =",20 % 10)
print("Remainder of 20 and 10 =",25 % 10)
print("5 raise to power 3 =",5 ** 3)

sum of 9 and 10 = 19
subtraction of 10 and 9 = 1
Multiplication of 10 and 9 = 90
Division of 20 and 10 = 2.0
Remainder of 20 and 10 = 0
Remainder of 20 and 10 = 5
5 raise to power 3 = 125

<-- operator precedence--->

In [49]:
result=2+3*8  # precedence of multiply operator is higher than addition operator to first numbers get multiplied than addition would occured.
print("result=",result)

result= 26

In [50]:
result= (2+3)*8 # precedence of parenthesis is higher than multiplication operator so firts bracket will solve then multiplication would performed
print("result=",result)

result= 40

In [54]:
result=10/2*(5+2) 
print("result=",result)

result= 35.0

<---Comparision Operators: which is used to compare values and gives result in boolean form------->

In [66]:
# greater than operator
print(3>10,": No 3 is not greater than 10")

# greater than equal to operator
print(10>=9,": yes 10 is greater than 9")
print(10>=10,": yes 10 is equal to 10")

# less than operator
print(3<10,": Yes 3 is less than 10")

# less than equal to operator
print(3<=4,": yes 3 is less than 4")
print(3<=3,": yes 3 is equal to 3")

False : No 3 is not greater than 10
True : yes 10 is greater than 9
True : yes 10 is equal to 10
True : Yes 3 is less than 10
True : yes 3 is less than 4
True : yes 3 is equal to 3

In [63]:
# Equal to operator
print(3==10,": No 3 is not equal to 10")

# Not equal to operator
print(3!=10, ": yes 3 is not equal to 10")

False : No 3 is not equal to 10
True : yes 3 is not equal to 10

In [ ]:
<----Logical Operators: OR,AND,Not------>

In [69]:
# Or operator,  gives result ture if either one or both condition is true

print(2>4 or 2>1)

True

In [70]:
# And operator, gives result ture if both the condition is true

print(5>4 and 6>5)

True

In [73]:
# Not operator, makes true as a false and false as a true

print(not 5>4)

False

<------IF ,ELSE and ELIF STATEMENTS: USE TO PRINT CONDITIONAL STATEMENT------->

In [74]:
# method1:  pre-defined input
age=19
if age>=18:
    print("You are an adult and You can give vote")
else:
    print("You are not adult so can not eligible for voting")

you are an adult and you can give vote

In [77]:
# method2: user- input

age=int(input("Enter your age:"))
if age>=18:
    print("You are an adult and You can give vote")
else:
    print("You are not adult so can not eligible for voting")

Enter your age: 15

You are not adult so can not eligible for voting

In [79]:
# elif condition

age=int(input("Enter your age:"))
if age>=18:
    print("You are an adult and You can give vote")
elif age<18 and age>3:
    print("Not Eligible")
else:
    print("You are not adult so can not eligible for voting")

Enter your age: 15

Not Eligible

<---- Build Mini-Calculator------>

In [81]:
a=int(input("Enter first number:"))
operator=input("Enter operator(+,-,*,/,%):")
b=int(input("Enter second number"))
if operator=="+":
    print("Sum of",a,"and",b,"is: ",a+b)
elif operator=="-":
    print("Subtraction of",a,"and",b,"is: ",a-b)
elif operator== "*":
    print("Multiplication of",a,"and",b,"is: ",a*b)
elif operator=="/":
    print("Division of",a,"and",b,"is: ",a/b)
elif operator=="%":
    print("Remainder of",a,"and",b,"is: ",a%b)
else:
    print("Invalid Operation")

Enter first number: 20
Enter operator(+,-,*,/,%): +
Enter second number 10

Sum of 20 and 10 is:  30

<-----Range in Python: Range function returns the sequeance of numbers---->

In [83]:
num=range(10) # so it will return range in which 10 is not included
print(num)

range(0, 10)

<----Loops in Python----->

In [84]:
# While loop: "Means Jab Tak": means it will excutes the code untill the condition becomes false

i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [85]:
# similary we can tringular print pattern as well by using while loop

i=1
while i<=5:
    print(i* "*")
    i=i+1

*
**
***
****
*****

In [86]:
# inverted triangular pattern by using while loop
i=5
while i>=0:
    print(i* "*")
    i=i-1

*****
****
***
**
*

In [87]:
# For Loop: It is used to executes a list of items or to iterate the sequence of items

for i in range(5):
    print(i)

0
1
2
3
4

In [93]:
for i in range(6):
    print(i* "*")

*
**
***
****
*****

<---List in Python: which is a collection of mutable items ---->

In [94]:
marks=[90,56,89,90]
print(marks)

[90, 56, 89, 90]

In [98]:
# List can stored different different datatypes items

items=[10,20,"rishi","kusum"]
print("items: ",items)

items:  [10, 20, 'rishi', 'kusum']

In [99]:
# Accessing items of list through an index number

print(items[2])

rishi

In [100]:
print(items[-1])

kusum

In [105]:
# creating sublist through indexing

print(items[2 :]) # means from index 2 to end index number
print(items[2:4]) # means only 2 and 3 index number will included

['rishi', 'kusum']
['rishi', 'kusum']

In [109]:
print(items[:3])
print(items[0:3])

[10, 20, 'rishi']
[10, 20, 'rishi']

In [110]:
# apppend operation in list: But it will append the item at the last index number of the list

marks=[95,98,97]
marks.append(100)
print(marks)

[95, 98, 97, 100]

In [111]:
# insert operation in list: it will insert the item at random index number

marks.insert(2,99)
print(marks)

[95, 98, 99, 97, 100]

In [112]:
# checking exitence of item in list

print(99 in marks)

True

In [113]:
# finding the lenght of the list

print(len(marks))

5

In [114]:
# clear function is used toempty the list

print(marks.clear())

None

<---- Break and Continue in Python---->

In [120]:
student=["kusum","rishi","charu","shyam","ram"]

# now we have to print names from kusum to charu so ;
for i in student:
    if i=="shyam":
        break;
    print(i)

kusum
rishi
charu

In [121]:
# if we want to print all names except shyam then:

for i in student:
    if i=="shyam":
        continue;
    print(i)

kusum
rishi
charu
ram

<---Tuple in python: It is like a list but immutable and define in parenthesis---->

In [128]:
mark=(90,98,97,100,100,100,97)
print(mark)

(90, 98, 97, 100, 100, 100, 97)

In [129]:
# On tuple we can perform two operations: count and index
print(mark.count(100))
print(mark.count(97))

3
2

In [131]:
print(mark.index(98))

1

<----Sets in Python: Sets are the collection of unique items which is define in curly brackets---->

In [132]:
marks= {90,98,97,100,100,100,97}
print(marks)

{97, 90, 100, 98}

In [133]:
#In sets index no.is not exits,so to access any value from the set we have to use loop.Hence as they don't have any index number so called as unordered. 

for score in marks:
    print(score)

97
90
100
98

<----Dictionary in Python: It is similar to sets but we store value as key and value pair----->

In [134]:
marks={"maths":95,"english":90,"science":96}
print(marks)

{'maths': 95, 'english': 90, 'science': 96}

In [135]:
# To access any value from dictionary we have to mentioned their respective key name

print(marks["english"])

90

In [136]:
# adding new marks
marks["hindi"]=97
print(marks)

{'maths': 95, 'english': 90, 'science': 96, 'hindi': 97}

In [137]:
#Change existing marks in dictionary

marks["science"]=100
print(marks)

{'maths': 95, 'english': 90, 'science': 100, 'hindi': 97}

Function in Python: Perform specific function
1.In-Build Function: Like int(),str(),bool() etc
Modulus Function: math etc
User-Defined function : function define by the users

In [138]:
# example of module function

from math import sqrt
print(sqrt(16))

4.0

 Example of user defined function
syntax:  def function_name(parameters):
        //do something

In [142]:
def sum(a,b):
    print(a+b)
print (sum(1,2))

3
None